body {
  font-family: Arial;
  padding: 20px;
}

.produk {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

.checkout {
  background: #03ac0e;
  color: white;
  border: none;
  border-radius: 8px;
}

.total {
  font-weight: bold;
  font-size: 18px;
}
