body {
    font-family: Arial;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 25px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}
